*{
    margin: 0;
    padding: 0;

}
body{
    background-image: url("IMG_3332 2.JPG");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

#imagen{
    display: flex;
    flex-flow: column-reverse;
    align-items: center;
    padding: 20px;
}
#tema1{
    text-align: center;
    color: aliceblue;
    padding: 20px;
    text-align: center;
}
#texto1{  background-color: rgb(182, 122, 32);
     text-align: center;
        color: rgb(255, 224, 224);
        font-size: 30px;
        text-align: center;
        font-style: oblique
}
.texto0{
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 20px;
   margin-left: 30px;
   margin-top: 60px;
   color: cornsilk;
   font-size: 40px;
}

h1{
    font-size: 60px;
    text-align: center;
    color: aquamarine;
}
p{
    font-size: 20px;
    color: #32aeb9;
    text-align: left;

}
#diapo1{
    width: 500px;
    height: 490px;
    margin-left: 480px;
}
.p6{
    text-align: center;
    margin-right: 120px;
    margin-top: 20px;
    margin-left: 120px;
    background-color: rgba(250, 250, 250, 0.924);
    color: rgb(58, 55, 235)

}
.p2{
color: rgb(214, 198, 165);
font-size: 25px;
font-family: 'Times New Roman', Times, serif
}

.p3{font-family: Georgia, 'Times New Roman', Times, serif;
    color: red
    
}
.card-title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    background-color: blanchedalmond
}
.card-text{
    color: dodgerblue;
    font-family: 'Times New Roman', Times, serif;
}
.texto2{
    color: dodgerblue;
    font-family: 'Times New Roman', Times, serif;
}
.card-title1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    background-color: blanchedalmond;

}
.card-text1{
font-family: Georgia, 'Times New Roman', Times, serif;
    color:dodgerblue
}
.texto2{
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: dodgerblue
}
.cite1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
